{% extends "header.html" %}
{% block content %}

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'includes/header_mobile.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {% include 'includes/menu_sidebar.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'includes/header_desktop.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <h1>Articles</h1>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- ARTICLE TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Author</th>
                                                <th>News Category</th>
                                                <th>Title</th>
                                                <th>Summary</th>
                                                <th>Publish Status</th>
                                                <th>Publish Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for article in data['articles'] %}
                                                <tr>
                                                    <td>{{ article.id }}</td>
                                                    <td>{{ article.authors.userName }}</td>
                                                    <td>{{ article.news_categories.title }}</td>
                                                    <td>{{ article.title }}</td>
                                                    <td>{{ article.summary }}</td>
                                                    <td>{{ article.pub_status }}</td>
                                                    <td>{{ article.pub_date }}</td>
                                                    <td>
                                                        <a href="articles/edit/{{ article.id }}">Edit</a>
                                                        <br>
                                                        <a href="articles/delete/{{ article.id }}">Delete</a>   
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END ARTICLE TABLE-->
                            </div>
                        </div>
                        {% include 'includes/footer.html' %}
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
  
    {% include 'includes/dependencies.html' %}

</body>
{% endblock %}